* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #2e3440; /* Nord0 */
    color: #d8dee9; /* Nord4 */
    border-bottom: 2px solid #4c566a;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #d8dee9;
}

#workspaces button.focused {
    background-color: #4c566a;
    color: #88c0d0; /* Nord8 */
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #3b4252; /* Nord1 */
    color: #eceff4;
}

#clock {
    background-color: #5e81ac; /* Nord10 */
    color: #eceff4;
}

#battery.warning {
    background-color: #ebcb8b; /* Nord13 */
    color: #2e3440;
}

#battery.critical {
    background-color: #bf616a; /* Nord11 */
    color: #eceff4;
}
#custom-power {
    background-color: #3b4252; /* Nord11 (红色) */
    color: #eceff4;            /* Nord6 (白色) */
    padding: 0 10px;
    margin-left: 10px;         /* 与左边的模块拉开距离 */
    border-radius: 0px;        /* 保持硬朗风格，或者改成 4px 圆角 */
}
